@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=general-sans@400,700&f[]=ranade@400&f[]=chillax@400&display=swap");

:root {
  --transition-speed: 0.2s;
}

body {
  margin: 0;
  padding: 0;
  background: var(--main-bg);
  color: var(--text-color);
  font-size: 14px;
  font-family: "Inter", "Roboto", "Ubuntu", "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  color: var(--text-color);
  user-select: none;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 12px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}

button:focus {
  outline: none;
}

.disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
  background: var(--button-hover-bg);
  pointer-events: none;
}

.disabled svg {
  fill: var(--icon-color) !important;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
}

.main-wrapper .scroll-area {
  scrollbar-gutter: stable;
}

.layout-row {
  display: flex;
  flex: 1;
  height: calc(100vh - 38px);
  overflow: hidden;
}

.main-wrapper .tooltip-container {
  position: relative;
  display: inline-block;
}

.main-wrapper .tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.main-wrapper .tooltip-text {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  background-color: var(--tooltip-bg);
  color: var(--text-color);
  padding: 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 100;
  border: 1px solid var(--border-color);
}

.main-wrapper .tooltip-top {
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.main-wrapper .tooltip-bottom {
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.main-wrapper .tooltip-left {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.main-wrapper .tooltip-right {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.main-wrapper .tooltip-text::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

.main-wrapper .tooltip-top::after {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-color: var(--border-color) transparent transparent transparent;
}

.main-wrapper .tooltip-bottom::after {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-color: transparent transparent var(--border-color) transparent;
}

.main-wrapper .tooltip-left::after {
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  border-color: transparent transparent transparent var(--border-color);
}

.main-wrapper .tooltip-right::after {
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  border-color: transparent var(--border-color) transparent transparent;
}

.main-wrapper .titlebar-wrapper {
  width: 100%;
  height: 38px;
  font-size: 14px;
  background: var(--titlebar-bg);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-app-region: drag;
}

.main-wrapper .titlebar-wrapper button {
  -webkit-app-region: no-drag;
  font-size: 14px;
  padding: 8px 4px;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}

.main-wrapper .titlebar-wrapper button:hover {
  background: var(--button-hover-bg);
}

.main-wrapper .titlebar-wrapper .part {
  display: flex;
  align-items: center;
}

.titlebar-wrapper .part * {
  -webkit-app-region: no-drag;
}

.main-wrapper .titlebar-wrapper .part:last-child {
  gap: 24px;
}

.main-wrapper .titlebar-wrapper .part:last-child * {
  display: flex;
  align-items: center;
}

.main-wrapper .titlebar-wrapper .part .options {
  gap: 6px;
}

.main-wrapper .titlebar-wrapper .part .panel-controls {
  gap: 2px;
}

.titlebar-wrapper .part .logo img {
  margin: 0 8px;
  width: 25px;
  height: auto;
}

.titlebar-wrapper .panel-controls button svg {
  width: 17px;
  height: auto;
}

.titlebar-wrapper .commands button {
  transition: all var(--transition-speed) ease-in-out;
}

.titlebar-wrapper .commands button svg {
  width: 22px;
  height: auto;
  fill: lightgreen;
}

.titlebar-wrapper .window-controls button svg,
.titlebar-wrapper .options button svg {
  width: 14px;
  height: 14px;
}

.main-wrapper .titlebar-wrapper .menu {
  display: flex;
}

.main-wrapper .titlebar-wrapper .menu * {
  font-size: 13px;
}

.main-wrapper .titlebar-wrapper .menu-item {
  position: relative;
  cursor: pointer;
  padding: 2px 4px;
}

.main-wrapper .titlebar-wrapper .menu-item:hover {
  background: var(--menu-item-hover);
}

.main-wrapper .titlebar-wrapper .menu-item-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 2px;
  border-radius: 4px;
}

.main-wrapper .titlebar-wrapper .submenu {
  position: absolute;
  left: 0%;
  top: 100%;
  background: var(--submenu-bg);
  border-radius: 6px;
  padding: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-width: 32vh;
  z-index: 1000;
}

.main-wrapper .titlebar-wrapper .separator {
  border-bottom: 1px solid var(--menu-item-separator);
  margin: 4px 0;
}

.main-wrapper .titlebar-wrapper .submenu-item {
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0;
}

.main-wrapper .titlebar-wrapper .submenu-item:hover {
  background: var(--submenu-item-hover);
}

.main-wrapper .titlebar-wrapper .shortcut {
  color: var(--second-text-color);
}

.main-wrapper .titlebar-wrapper .window-controls button {
  padding: 12px 12px;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}

.main-wrapper .titlebar-wrapper .window-controls button svg {
  width: 15px;
  height: auto;
}

.main-wrapper .titlebar-wrapper .window-controls button:last-child:hover {
  background: var(--window-controls-close-button-hover);
}

.main-wrapper .left-sidebar {
  height: 100%;
  width: 38px;
  background: var(--sidebar-bg);
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.main-wrapper .left-sidebar .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.main-wrapper .left-sidebar .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.main-wrapper .left-sidebar button {
  padding: 4px;
  width: 38px;
  font-size: 18px;
  cursor: pointer;
}

.main-wrapper .left-sidebar button:hover {
  background: var(--button-hover-bg);
}

.main-wrapper .left-sidebar button.active {
  background: var(--button-hover-bg);
}

.main-wrapper .right-sidebar {
  width: 38px;
  height: 100%;
  background: var(--sidebar-bg);
  border-left: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 10px 0;
}

.main-wrapper .right-sidebar button {
  padding: 4px;
  width: 38px;
  font-size: 18px;
  cursor: pointer;
}

.main-wrapper .right-sidebar button:hover {
  background: var(--button-hover-bg);
}

.main-wrapper .right-sidebar button.active {
  background: var(--button-hover-bg);
}

.main-wrapper .scroll-wrapper {
  display: flex;
  min-width: 0;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.main-wrapper .explorer {
  display: flex;
  min-width: 0;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.main-wrapper .explorer-scroll {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-wrapper .content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.main-wrapper .content-wrapper .scroll-area {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-wrapper .content-wrapper .editor-container {
  overflow: hidden;
}

.main-wrapper .content-wrapper .simple-tab {
  overflow: hidden;
}

.main-wrapper .explorer .title {
  font-size: 14px;
  padding: 8px 12px;
}

.main-wrapper .filetree-node {
  font-size: 14px;
  color: var(--text-color);
  padding-left: 6px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.main-wrapper .filetree-label {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 2px 6px;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
  transition: background var(--transition-speed) ease-in-out;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-wrapper .filetree-label > * {
  min-width: 0;
}

.main-wrapper .filetree-label:hover {
  background-color: var(--button-hover-bg);
}

.main-wrapper .filetree-label-active {
  background: var(--button-hover-bg);
}

.main-wrapper .filetree-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-wrapper .filetree-toggle svg {
  width: 12px;
  height: auto;
  stroke: var(--icon-color);
  stroke-width: 1;
}

.main-wrapper .filetree-icon {
  display: flex;
  align-items: center;
  width: 16px;
}

.main-wrapper .filetree-icon svg {
  width: 16px;
  height: auto;
  stroke: var(--icon-color);
  stroke-width: 1;
}

.main-wrapper .filetree-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}

.main-wrapper .filetree-input {
  width: 100%;
  padding: 0 6px;
  font-size: 13px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--main-bg);
  color: var(--text-color);
  outline: none;
}

.main-wrapper .filetree-input:focus {
  border-color: var(--focus-color);
}

.main-wrapper .filetree-children {
  padding-left: 14px;
  margin-top: 2px;
  overflow: hidden;
}

.main-wrapper .filetree-node:hover > .filetree-children {
  box-shadow: -2px 0 0 0 var(--file-tree-folder-content-border-color);
}

.main-wrapper .filetree-create-form {
  margin: 4px 0;
}

.main-wrapper .dropdown {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  position: fixed;
  background: var(--main-bg);
  border: 1px solid var(--border-color);
  padding: 4px 0;
  z-index: 1000;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.main-wrapper .dropdown button {
  background: none;
  border: none;
  text-align: left;
  padding: 6px 12px;
  color: var(--text-color);
  font-size: 14px;
  cursor: pointer;
  transition: background var(--transition-speed);
}

.main-wrapper .dropdown button:hover {
  background-color: var(--button-hover-bg);
}

.main-wrapper .dropdown hr {
  margin: 4px 0;
  border: none;
  border-top: 1px solid var(--border-color);
}

.main-wrapper .page-tabs {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  height: 35px;
  background-color: var(--editor-bg);
  max-width: 100%;
  overflow: hidden;
}

.main-wrapper .page-tabs .tab {
  display: flex;
  align-items: center;
  padding: 6px 14px;
  white-space: nowrap;
  height: 42px;
  max-width: 150px;
  font-size: 13px;
  height: 100%;
  background-color: transparent;
  border: none;
  border-right: 1px solid var(--border-color);
  gap: 10px;
  position: relative;
  color: var(--text-color);
  cursor: pointer;
}

.main-wrapper .page-tabs .tab.active::after {
  content: " ";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background-color: var(--blue-color);
}

.main-wrapper .page-tabs .tab .file-icon img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.main-wrapper .page-tabs .tab .file-name {
  max-width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main-wrapper .page-tabs .tab .icons {
  display: flex;
  align-items: center;
}

.main-wrapper .page-tabs .tab .icons .is_touched {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-wrapper .page-tabs .tab .icons .is_touched .dot {
  visibility: visible;
}

.main-wrapper .page-tabs .tab .icons .is_touched .close-icon {
  visibility: hidden;
}

.main-wrapper .page-tabs .tab .icons .is_touched:hover .close-icon {
  visibility: visible;
}

.main-wrapper .page-tabs .tab .icons .is_touched:hover .dot {
  visibility: hidden;
}

.main-wrapper .page-tabs .tab .icons .close-icon {
  cursor: pointer;
  border-radius: 6px;
}

.main-wrapper .page-tabs .tab .close-icon:hover {
  background: var(--button-hover-bg);
}

.main-wrapper .page-tabs .tab .icons .is_touched .dot {
  visibility: visible;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--icon-color);
  border-radius: 50%;
}

.main-wrapper .page-tabs .tab .icons .dot {
  visibility: hidden;
}

.main-wrapper .no-file-selected {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-wrapper .no-file-selected span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  font-size: 14px;
  padding: 6px 12px;
}

.main-wrapper .no-file-selected code {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: bold;
}

.main-wrapper .no-file-selected kbd {
  background: var(--dark-bg);
  padding: 4px 6px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.main-wrapper .terminal-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-wrapper .terminal-wrapper .tabs {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--terminal-tabs-bg);
  align-items: center;
  height: 42px;
  min-height: 42px;
  max-height: 42px;
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

.main-wrapper .terminal-wrapper .tabs .title {
  padding: 4px 14px;
  font-size: 14px;
}

.main-wrapper .terminal-wrapper .tabs .tab {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 12px;
  gap: 12px;
  height: 100%;
  cursor: default;
}

.main-wrapper .terminal-wrapper .tabs .tab:hover {
  background: var(--button-hover-bg);
}

.main-wrapper .terminal-wrapper .tabs .tab .name {
  font-size: 13px;
}

.main-wrapper .terminal-wrapper .tabs .tab.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--blue-color);
}

.main-wrapper .footer-wrapper {
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  height: 34px;
  max-height: 34px;
  align-items: center;
}

.main-wrapper .footer-wrapper span {
  font-size: 12px;
  padding: 6px 8px;
}

.main-wrapper .footer-wrapper span:hover {
  background: var(--button-hover-bg);
}

.main-wrapper .extension-wrapper {
  display: flex;
  min-width: 0;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.main-wrapper .extension-wrapper .title {
  font-size: 14px;
  padding: 8px 12px;
}

.main-wrapper .extension-wrapper .extension-scroll {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-wrapper .extension-wrapper .extension-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
  color: var(--text-color);
}

.main-wrapper .extension-wrapper .extension-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 6px 8px;
  cursor: pointer;
  user-select: none;
  transition: background var(--transition-speed);
  overflow: hidden;
}

.main-wrapper .extension-wrapper .extension-item:hover {
  background-color: var(--button-hover-bg);
}

.main-wrapper .extension-wrapper .extension-icon {
  width: 20px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-wrapper .extension-wrapper .extension-icon svg {
  width: 18px;
  height: auto;
  stroke: var(--icon-color);
  stroke-width: 1;
}

.main-wrapper .extension-wrapper .extension-info {
  flex: 1;
  overflow: hidden;
}

.main-wrapper .extension-wrapper .extension-name {
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main-wrapper .extension-wrapper .extension-description {
  font-size: 12px;
  color: var(--second-text-color);
  margin-top: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-wrapper .extension-wrapper .extension-author {
  font-size: 11px;
  color: var(--second-text-color);
  margin-top: 2px;
  font-weight: bold;
}

.main-wrapper .extension-wrapper .extension-search-bar {
  display: flex;
  align-items: center;
  background-color: var(--main-bg);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 4px 6px;
  margin: 8px 6px;
  gap: 8px;
}

.main-wrapper .extension-wrapper .extension-search-bar input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: 13px;
}

.main-wrapper .extension-wrapper .extension-search-bar:focus-within {
  border: 1px solid var(--blue-color);
}

.main-wrapper .extension-wrapper .search-icons {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--icon-color);
  font-size: 14px;
}

.main-wrapper .extension-wrapper .search-icons svg {
  cursor: pointer;
  transition: color var(--transition-speed);
}

.main-wrapper .extension-wrapper .search-icons svg:hover {
  color: var(--second-text-color);
  stroke: var(--second-text-color);
  stroke-width: 1px;
}

.main-wrapper .extension-wrapper .extension-no-results {
  padding: 6px 8px;
}

.main-wrapper .extension-page {
  padding: 16px;
  color: var(--text-color);
  border-radius: 12px;
  margin: 0 12rem;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-wrapper .extension-page .info {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 16px;
}

.main-wrapper .extension-page .icon-section {
  width: 78px;
  height: 78px;
  display: flex;
  margin-right: 16px;
  align-items: center;
  justify-content: center;
  background: var(--light-bg);
  border-radius: 8px;
  font-size: 32px;
  color: var(--icon-color);
}

.main-wrapper .extension-page .details-section {
  flex: 1;
}

.main-wrapper .extension-page .title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: var(--text-color);
}

.main-wrapper .extension-page .meta {
  font-size: 13px;
  color: var(--second-text-color);
  margin: 6px 0 8px 0;
  display: flex;
  gap: 12px;
}

.main-wrapper .extension-page .actions {
  margin-top: 6px;
}

.main-wrapper .extension-page button {
  padding: 2px 12px;
  background: var(--green-color);
  color: var(--text-color);
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.main-wrapper .extension-page button:hover {
  background: var(--button-hover-bg);
}

.main-wrapper .extension-page .description-scroll {
  flex: 1;
  overflow-y: auto;
  font-size: 14px;
  line-height: 1.5;
  color: var(--description-color);
  padding-right: 4px;
  max-height: 300px;
  border-top: 1px solid var(--border-color);
  padding-top: 12px;
}

.main-wrapper .image-viewer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.main-wrapper .settings-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.main-wrapper .settings-wrapper .flex {
  flex: 1;
  display: flex;
  overflow: hidden;
  border-top: 1px solid var(--border-color);
  padding: 12px 0;
  margin: 0 3rem;
  height: calc(100% - 24px);
}

.main-wrapper .settings-wrapper .search-bar {
  display: flex;
  align-items: center;
  background-color: var(--main-bg);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 4px 6px;
  margin: 14px 6px;
  gap: 8px;
}

.main-wrapper .settings-wrapper .search-bar input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: 13px;
}

.main-wrapper .settings-wrapper .search-bar:focus-within {
  border: 1px solid var(--blue-color);
}

.main-wrapper .settings-wrapper .search-icons {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--icon-color);
  font-size: 14px;
}

.main-wrapper .settings-wrapper .search-icons svg {
  cursor: pointer;
  transition: color var(--transition-speed);
}

.main-wrapper .settings-wrapper .search-icons svg:hover {
  color: var(--second-text-color);
  stroke: var(--second-text-color);
  stroke-width: 1px;
}

.main-wrapper .settings-wrapper .flex .sidebar,
.main-wrapper .settings-wrapper .flex .content {
  height: 100%;
  font-size: 14px;
}

.main-wrapper .settings-wrapper .flex .sidebar {
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
  border-right: 3px solid var(--border-color);
  flex-shrink: 0;
  width: 220px;
  overflow-y: auto;
  max-height: 100%;
}

.main-wrapper .settings-wrapper .flex .content {
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-wrapper .settings-wrapper .flex .content .scroll-area {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.main-wrapper .settings-wrapper .flex .sidebar .sidebar-main,
.main-wrapper .settings-wrapper .flex .sidebar .sidebar-sub {
  cursor: pointer;
}

.main-wrapper .settings-wrapper .flex .sidebar .sidebar-main {
  display: flex;
  align-items: center;
  gap: 6px;
}

.main-wrapper .settings-wrapper .flex .sidebar .sidebar-main.active,
.main-wrapper .settings-wrapper .flex .sidebar .sidebar-sub.active {
  font-weight: bold;
}

.main-wrapper .settings-wrapper .flex .sidebar .sidebar-main:hover,
.main-wrapper .settings-wrapper .flex .sidebar .sidebar-sub:hover {
  color: var(--second-text-color);
}

.main-wrapper .settings-wrapper .flex .sidebar .sub-wrapper {
  padding: 6px 0;
  padding-left: 38px;
  display: flex;
  flex-direction: column;
}

.main-wrapper .settings-wrapper .flex .content .heading {
  font-size: 24px;
  margin-bottom: 2px;
  font-weight: 600;
  border-bottom: 1px solid var(--border-color);
}

.main-wrapper .settings-wrapper .flex .content .group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin: 24px 0;
}

.main-wrapper .settings-wrapper .flex .content .group .title {
  font-size: 14px;
  font-weight: 600;
}

.main-wrapper .settings-wrapper .flex .content .group .description {
  font-size: 13px;
}

.main-wrapper .settings-wrapper .flex .content .group select:focus,
.main-wrapper .settings-wrapper .flex .content .group input:focus {
  border-color: var(--blue-color);
  outline: none;
}

.main-wrapper .settings-wrapper .flex .content .group select {
  width: 40%;
  background-color: var(--select-bg);
  padding: 2px 4px;
  border: 1px solid var(--border-color);
}

.main-wrapper .settings-wrapper .flex .content .group input {
  width: 40%;
  background-color: var(--input-bg);
  padding: 2px 4px;
  border: 1px solid var(--border-color);
}
