.dev-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
  overflow: hidden;
}

.dev-panel .content {
  height: 100%;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  overflow: hidden;
}

.dev-panel .splitter-horizontal {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

.dev-panel .panel.vertical {
  width: 100% !important;
  height: 50px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  overflow: hidden;
}

.dev-panel .content {
  height: calc(100% - 60px);
  overflow: hidden;
}

.dev-panel .content-tabs {
  height: 100%;
  background: var(--workbench-panel-background);
  border-radius: 8px;
  overflow: hidden;
}

.dev-panel .panel.vertical svg path {
  stroke: var(--workbench-icon-foreground) !important;
}

.dev-panel .content-tabs .tab .close-icon svg {
  width: 20px !important;
  height: auto;
}
