.dev-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 10px;
  overflow: hidden;
}

.dev-panel .content {
  height: 100%;
}

.dev-panel.collapsed .content {
  width: 100%;
}

.dev-panel.collapsed .panel.vertical {
  width: 50px !important;
}

.dev-panel .panel.vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dev-panel .panel.vertical .collapse {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  color: var(--workbench-tabs-foreground);
  margin-bottom: 32px;
  cursor: pointer;
}

.dev-panel .panel.vertical .collapse svg {
  width: 20px;
  height: auto;
}

.dev-panel .panel.vertical .collapse:hover,
.hovered {
  background: var(--workbench-tabs-hover-background);
  color: var(--workbench-tabs-hover-foreground);
}

.dev-panel .panel.vertical svg path {
  stroke: var(--workbench-icon-foreground) !important;
}
