.code .editor {
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.code .editor .editor-area {
  height: calc(100% - 56px);
  position: relative;
  display: flex;
}

.code .editor .splitter-horizontal .gutter {
  border-radius: 8px !important;
  width: 5px !important;
}

.code .editor .preview-area {
  height: calc(100% - 50px);
  padding: 0 10px;
}

.code .editor .preview-area * {
  font-family: "Inconsolata" !important;
}

.code .editor .monaco-editor *:focus {
  outline: none;
}

.code .editor .monaco-editor [class*="widget"],
.code .editor .monaco-editor .monaco-menu {
  border: 2px solid var(--workbench-border-foreground) !important;
  border-radius: 12px !important;
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.15),
    0 4px 16px rgba(0, 0, 0, 0.08) !important;
}

.monaco-editor .margin-view-overlays .current-line {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  margin-left: 12px !important;
}

.monaco-editor .monaco-menu {
  z-index: 10000 !important;
  position: fixed !important;
  font-size: 16px !important;
}

.monaco-editor .view-overlays .current-line {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  width: calc(100% - 12px) !important;
  box-sizing: border-box !important;
}

.monaco-editor .scroll-decoration {
  width: 0px !important;
  height: 0px !important;
}

.monaco-editor .slider {
  border-radius: 24px !important;
  width: 9px !important;
}

.monaco-editor .suggest-widget .tree .monaco-list-row * {
  transition: none !important;
}

.monaco-editor .suggest-widget {
  padding: 6px !important;
  border: 2px solid var(--workbench-border-foreground) !important;
}

.monaco-editor .suggest-widget .monaco-list-row {
  width: 100% !important;
  border-radius: 6px !important;
  padding: 0 12px !important;
}

.monaco-editor .suggest-widget .monaco-list-row .suggest-icon {
  margin-right: 6px !important;
  font-size: 18px !important;
}

.monaco-editor .suggest-details {
  border-radius: 6px !important;
  border: 2px solid var(--workbench-border-foreground) !important;
}

.monaco-editor .monaco-menu {
  border: 2px solid var(--workbench-border-foreground) !important;
}

.monaco-editor .monaco-menu .monaco-action-bar {
  padding: 6px !important;
  font-size: 16px !important;
}

.monaco-editor .monaco-menu .monaco-action-bar .action-item .action-menu-item {
  width: 100% !important;
  border-radius: 6px !important;
  padding: 2px 0 !important;
  font-family: "Inconsolata" !important;
}

.monaco-editor .rename-input {
  border-radius: 8px !important;
  border: 2px solid var(--workbench-border-foreground) !important;
  color: var(--workbench-editor-foreground) !important;
}

.monaco-editor .quick-input-widget {
  font-size: 16px !important;
}

.monaco-editor .monaco-hover {
  border-radius: 8px !important;
  border: 2px solid var(--workbench-border-foreground) !important;
}

.monaco-editor .monaco-hover .monaco-hover-content a {
  text-decoration: none !important;
  font-size: 16px !important;
}

.monaco-editor .monaco-hover .monaco-hover-content ul {
  display: flex !important;
  list-style: none !important;
  gap: 12px !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 16px !important;
}

.monaco-editor .monaco-hover .monaco-hover-content code {
  font-weight: bold !important;
  background: transparent !important;
}

.code .editor .empty-state {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  container-type: size;
}

.code .editor .empty-state span {
  width: max(20%, min(80%, calc(40% * (100cqh / 400px))));
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.code .editor .empty-state span svg {
  width: max(20%, min(80%, calc(40% * (100cqh / 400px))));
  mix-blend-mode: overlay;
  filter: blur(0.5px);
  opacity: 0.2;
}

.code .editor .details {
  position: absolute;
  top: 0px;
  right: 20px;
  z-index: 999;
  background: var(--workbench-background);
  width: 35px;
  height: 35px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code .editor .details .problems {
  background: var(--workbench-terminal-color1);
  width: 90%;
  height: 90%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.code .editor .preview {
  position: absolute;
  top: 43px;
  right: 20px;
  z-index: 999;
  background: var(--workbench-secondary-button-background);
  outline: 2px solid var(--workbench-background);
  width: 35px;
  height: 35px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.code .editor .preview svg {
  width: 18px;
  height: auto;
}

.code .editor .details .problems.none {
  display: none;
}

.code .editor .details .none-div {
  background: var(--workbench-terminal-color2);
  width: 90%;
  height: 90%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.code .editor .editor-area .content-area {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
