.splitter-horizontal {
  display: flex;
  width: 100%;
  height: calc(100vh - 95px);
}

.splitter-horizontal.height {
  height: 100%;
  overflow: hidden;
}

.splitter-vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.split-horizontal,
.split-vertical {
  overflow: hidden;
  background: var(--workbench-panel-background);
  border-radius: 12px;
}

.split-horizontal > .split-vertical,
.split-vertical > .split-horizontal {
  background: transparent;
  border-radius: 0;
}

.gutter {
  background: var(--workbench-background);
  transition: background 0.2s ease;
  z-index: 1;
  pointer-events: auto;
  user-select: none;
  box-sizing: border-box;
}
