.gutter {
  position: relative;
  background: transparent;
  transition: background 0.2s ease;
  z-index: 1;
  background: var(--splitter-color);
  pointer-events: auto;
}

.gutter::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: transparent;
  transition: background 0.2s ease;
  border-radius: 2px;
}

.gutter.gutter-horizontal {
  width: 2px;
  cursor: col-resize;
}

.gutter.gutter-vertical {
  height: 2px;
  cursor: row-resize;
}

.gutter:hover::before,
body.dragging-gutter .gutter::before {
  background: var(--splitter-active-color);
}
